<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Tab Shepherd</title>
    <style>

    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
    <script src="TabShepherd.js"></script>
    <script src="angular.min.js"></script>
  </head>
  <body ng-app="HelpPopup" ng-controller="HelpController">
    <h1><a href="help.html" style="text-decoration:none">TabShepherd commands</a></h1>
    <ul>
        <li ng-repeat="(category, commands) in categories">
            <h2>{{category}}</h2>
            <ul>
                <li ng-repeat="(name, command) in commands" ng-show="!selected || selected == name">
                    <h3>{{name}}</h3>

                    <div style="margin-left:10px">
                        <div style="margin-left:10px">
                            <div>{{command.desc}}</div>
                            <div>
                                Examples:
                                <ul>
                                    <li ng-repeat="(k, v) in command.examples">
                                        <b>{{k}}</b>: {{v}}
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </li>


    </ul>


    <script src="help.js"></script>
  </body>
</html>

