<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Tab Shepherd</title>
    <style>
        .current {
            font-weight: bold;
        }
    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
    <script src="TabShepherd.js"></script>
    <script src="angular.min.js"></script>
  </head>
  <body ng-app="TabShepPopup">
    <div id="tsTitle">TabShepherd</div>
    <div id="status" ng-controller="PopupController">
        <div class="heading" id="definition">
            This window is named: <input type="text" id="name" style="width:100px" ng-model="name"/>
            <input type="button" id="setName" value="Set" ng-click="setName()" ng-disabled="def.name == name"/>
        </div>
        <div id="patternOuter">
            Patterns assigned to this window: <br/>
            <div id="patterns" ng-model="patterns">
                <ul>
                    <li ng-repeat="pattern in def.patterns">{{pattern}}</li>
                </ul>
            </div>
            <input type="text" id="newPattern" style="width:200px" ng-model="newPattern"/>
            <input type="button" id="addPattern" value="Add" ng-click="addPattern()" ng-disabled="!newPattern"/>
        </div>
        <div class="heading">
            Windows:
        </div>
        <div ng-repeat="(id, win) in winInfo">
            {{id}} <a ng-class="{current: currentWindow.id == id}" ng-click="goToWindow(id)" style="cursor:pointer">{{win.name}}</a>: {{win.tabs}} tabs
        </div>
        <!--<div>-->
            <!--<input type="button" id="reset" value="Reset" ng-click="init()" />-->
        <!--</div>-->
    </div>

    <script src="popup.js"></script>
  </body>
</html>

